*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,div,a{
  margin-top: 0;
  padding-top: 0;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


body{
color: #434455 ;
font-family: "Roboto", sans-serif;
background-color:#FFFFFF ;
}



.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.containerr{
  display: flex;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-nav ul{
  display: flex;
}

.webstudio-logo{
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
text-decoration: none;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
margin-right: 76px;
flex-grow: 1;
}

.webstudio-logo-span {
    color: #2e2f42;
    text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
}

.header-nav-menu{
  gap: 40px;
  display: flex;
}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    padding: 24px 0;
    display: block;
    position: relative; 
    color: #404bbf;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after{
  color: #404bbf;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
}

.nav-link:hover{
     color: #404bbf;  
}
.nav-link:focus {
  color: #404bbf;      
}

.studio {
 font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.address{
    font-style: normal;
    margin-left: auto;
}

.address-list{
  gap: 40px;
  display: flex;
}

.contact-link {
  color: #434455;           
  font-style: normal;        
  line-height: 1.5;          
  letter-spacing: 0.02em;    
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}

.contact-link:hover{
    color: #404bbf; 
}
.contact-link:focus {
  color: #404bbf;           
}

.hero-banner{
    padding: 188px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bggood.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    background-repeat: no-repeat;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.hero-banner-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
width: 496px;
margin-bottom: 48px;
margin: 0 auto;
}

.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;            
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4D5AE5;      
  cursor: pointer;
  border: none;  
  border-radius: 4px;
 width: 169px;
 height: 56px;
 min-width: 169px;  
 display: block; 
 margin: 0 auto;     
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}


.button-order-service:hover,
.button-order-service:focus {
  background-color: #404BBF;
}

.secttwo{
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.secttwo-list-item {
  display: flex;
  gap: 24px;
}

.item-list{
  width: calc((100% - 72px) / 4);
}

.image-div{
  border:#F4F4FD ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.hthree-secttwo{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}



.p-secttwo {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.sect-three{
    background-color:#F4F4FD;
    padding: 120px 0;
}

.team-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list{
  display: flex;
  gap: 24px;
}

.item-team-list{
    background-color:#FFFFFF ;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-item-opis{
  padding: 32px 0;
  justify-content: center;
  gap: 24px;
}

.hthree-setcthree{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.p-sectthree{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.socials-box{
  display: flex;
  gap: 24px;
}

.socials-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item-list{
  width: 40px;
  height: 40px;
}

.item-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover{
  background-color: #404bbf;
}

.item-link:focus{
  background-color: #404bbf; 
}

.svg-team-list{
  fill: #f4f4fd;
}

.team-socials{
 padding: 12px;
 border-radius: 50%;
 background-color: #4D5AE5;
}

.portfolio{
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.li-portfolio{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.li-portfolio:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.li-portfolio:hover .p-sectfour-change{
  transform: translateY(0%);
}

.div-img-sectfour{
  position:relative ;
  overflow: hidden;
}

.p-sectfour-change{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-portfolio{
  width: calc((100% - 48px) / 3);
  transform: translateY(0%);
}

.div-sectfour{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.hthree-portfolio {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.p-sectfour {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.footer{
background-color: #2e2f42;
padding: 100px 0;
}

.footer-div{
  display: flex;
  align-items: baseline;
}

.idk-div{
  margin-right: 120px;
}

.footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 24px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;
display: inline-block;
}

.webstudio-logo-spantwo{
    color:#f4f4fd ;
}

.footer-p {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.p-social-media{
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}

.socials-list-footer{
  display: flex;
  gap: 16px;
}

.socials-item-list-footer{
  width: 40px;
  height: 40px;
}

.item-link-footer{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link-footer:hover{
  background-color: #31d0aa;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}


.item-link-footer:hover{
  background-color: #31d0aa;
}

.item-link-footer:focus{
  background-color: #31d0aa;
}

.svg-socials-list{
  fill: #f4f4fd;
}